.chatmessage {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  color: grey;
  margin-bottom: 20px;
  flex: 0.4;
  max-width: fit-content;
  background-color: rgb(168, 140, 11);
  margin-left: 5px;
  border-radius: 20px;
  margin-top: 20px;
}
.chat__messageinfo {
  margin: 0px 10px;
  color: white;
  width: 200px;
}
.chat__messageinfo p {
  color: black;
  font-size: 18px;
}
.chat__messageinfo h3 {
  font-weight: 400;
  font-size: 14px;
}
.chat__messagetime {
  position: relative;
  right: 120px;
  font-size: 10px;
  color: rgb(228, 175, 175);
}
